#project-content{:"data-project-id" => @project.id} 
  %h3= "#{@project.name} - #{@use_case.name}" 

  %div
    %h4= link_to 'Back to Use Cases', project_path(@use_case.project)
    .large-4.medium-4.small-6.columns{style: "padding:0;"}
    .large-8.medium-8.small-6.columns{style: "padding:0;"}
      #project_use_case_placeholder



  %p#notice= notice


  = render '/use_cases/detail'


  = content_for :right_yield do
    %dl.tabs{"data-options" => "deep_linking:true", "data-tab" => ""}
      %dd.active
        = content_tag(:a, 'Slices', href: "#slices")
      %dd
        = content_tag(:a, 'Documents', href: "#documents")


    .tabs-content
      #slices.content
        .uc-slice
          = render '/slices/show'

      #documents.content
        .uc-display
          = render 'use_case_doc_form'
          = render 'use_case_docs'


