%p#notice= notice

%p
  %b Priority:
  = @slice.priority
%p
  %b Workflow state:
  = @slice.workflow_state
%p
  %b Estimate:
  = @slice.estimate
%p
  %b Release:
  = @slice.release_id
%p
  %b Order priority:
  = @slice.order_priority

= link_to 'Edit', edit_project_slice_path(@slice.project, @slice)
\|
= link_to 'Back', project_slices_path(@slice.project)
