.large-4.medium-4.columns
  = link_to root_path do
    %h1{style: "color: whitesmoke;"}
      Case 2.0
.large-8.medium-8.columns
  %ul.sub-nav
    - unless current_user.nil?
      .left
        %li
          %b= link_to 'Projects', home_index_path
        %li
          %b= link_to 'Members', members_path
      .right
        %li= link_to current_user.email, '#'
        %li.divider
        %li= link_to "Logout", destroy_user_session_path, :method => :delete, :class => "alice-color"

