<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Use Case 2.0" %></title>

    <%= stylesheet_link_tag    "application" %>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,400italic' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id='header'>
      <div class="row">
        <%= render '/layouts/header'%>
      </div>
    </div>
    <div id='container' class="row">
      <div id='content' class='large-12 medium-12 columns'>
        <div class="large-6 medium-6 columns" >

          <%= yield %>
        </div>
        <div id="right-yield" class="large-6 medium-6 columns">
          <div class="right-content">
            <%= yield  :right_yield %>
          </div>
        </div>

        </div>
      
      
      </div>
    </div>
    
  </body>
</html>